.sl-toc, /* Starlight */
.toc-sidebar, /* Spotlight */
aside[aria-label="On this page"] {
  max-width: 260px !important; /* or any width you prefer */
  width: 260px !important;
  min-width: 180px !important;
  background-color: yellow;
  
}
.mermaid svg {
  width: 100% !important;
  height: auto !important;
  max-width: 100vw !important;
  cursor: zoom-in !important;
}

@media (min-width: 768px) {
  main > *:nth-child(2) .sl-container {
    margin-left: 2rem;
  }
}
.sidebar .menu-item .children {
  display: none;
}

.sidebar .menu-item.open .children {
  display: block;
}
